:root, page {
    /* --main-color: #8c0776; */
    /* --main-color: #3c63dd; */
    --wot-card-footer-padding: 4px 0 16px;
}

.wd-card__content {
    padding-bottom: 8px;
}

@media (prefers-color-scheme: light) {
    :root, page {
        --app-bg-color: #f7f8f9;
        background-color: var(--app-bg-color);
        --wot-color-theme: var(--main-color);
        /* --wot-navbar-background: var(--app-bg-color);
        --wot-navbar-color: white; */
    }
    .card {
        color: #363636;
        background-color: var(--wot-card-bg, var(--wot-color-white, rgb(255, 255, 255)));
    }
}
@media (prefers-color-scheme: dark) {
    :root, page {
        --app-bg-color: #030303;
        --wot-dark-color: #f5f5f5;
        --wot-color-theme: var(--main-color);
        --wot-card-bg: #1b1b1b;
        background-color: var(--app-bg-color);
        color: var(--wot-dark-color);
    }
    .card {
        background-color: var(--wot-dark-background2, #1b1b1b);
    }
}

.primary {
    color: var(--wot-color-theme);
}

.card {
    padding: var(--wot-card-padding, var(--wot-size-side-padding, 15px));
    line-height: var(--wot-card-line-height, 1.1);
    margin: var(--wot-card-margin, 0 var(--wot-size-side-padding, 15px));
    border-radius: var(--wot-card-radius, 8px);
    box-shadow: var(--wot-card-shadow-color, 0px 4px 8px 0px rgba(0, 0, 0, 0.02));
    font-size: var(--wot-card-fs, var(--wot-fs-content, 14px));
    margin-bottom: 12px;
}
.card.card-primary {
    background-color: var(--main-color, var(--wot-color-theme));
}
.card.card-info {
    background-color: rgba(60, 99, 221, 0.5);
}
.card.card-info.border {
    border: 1px solid rgb(60, 99, 221);
}
.card.card-success {
    background-color: rgba(52, 209, 157, 0.5);
}
.card.card-success.border {
    border: 1px solid rgb(52, 209, 157);
}
.card.card-warning {
    background-color: rgba(240, 136, 58, 0.5);
}
.card.card-warning.border {
    border: 1px solid rgb(240, 136, 58);
}
.card.card-error {
    background-color: rgba(250, 67, 80, 0.5);
}
.card.card-error.border {
    border: 1px solid rgb(250, 67, 80);
}
